/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body {
	  font-family: open sans;
}

h1 {
  	margin: 0px auto;
  	width: 700px;
  	padding: 20px 0px 80px;
  	text-align: left;
}

h3 {
	text-align: center;
	font-size: 30px;
}

header {
  height: 500px;
  background: url("../images/header_bg.jpg") no-repeat center top;
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
    margin: 0 auto;
    width: 700px;
}

.button {
    color: black;
	display: block;
	background-color: #f9e42e;
	border: none;
	font-size: 21px;
	font-weight: bold;
	border-radius: 10px;
	padding: 20px;
	margin: 20px auto;
	text-align: center;
    text-decoration: none;
    width: 180px;
}

.benefits {
	width: 700px;
	margin: auto;
	padding: 40px 0px;
}

.benefits h2 {
    font-weight: 600;
}

.benefits ul {
    margin-left: 60px;
}

.benefits p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.quote {
    background: url("../images/testimonial_bg.jpg") no-repeat center top;
    color: white;
    padding: 100px 0;
    text-align: center;
    font-size: 28px;
}

.quote p {
	font-style: italic;
}

.signup {
    background-color: #f9e42e;
    padding: 20px 0;
}

.signup .button {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;
}

footer h5 {
    color: #f9e42e;
    font-size: 24px;
}

footer .social {
    padding: 50px 0;
}

footer .twitter {
    padding: 10px;
    width: 30px;
}

footer .facebook {
    padding: 10px;
    width: 12px;
}
